[2019-09-16 09:09] leiterrl opened #1 "NullPointerException when language-tool is uninitialized"
When language-tool is not initialized (for example when a configured language can not be found) the following exception will occur:

[code]

This is caused by validateDocument returning a Pair with null values.
https://github.com/valentjn/languagetool-languageserver/blob/6cbd92e7d76db2bff589ff57ae3903d36e6e5012/src/main/java/LanguageToolLanguageServer.java#L411

The codeAction method then tries to

[2019-09-16 09:19] #1 closed

[2020-10-23 11:16] zertrin opened #27 "Cannot override LatexCommandSignature defaults from user config currently"
Hi,

**Short version**
I would like to be able to override the default action for a `LatexCommandSignature` but currently, because default actions are listed first in the possible command list, is seems that the hard-coded action takes precedence over the user-defined one.

**Detailed analysis with references to code locations**

1. Default actions for `LatexCommandSignature` are defined here (exa

[2020-10-23 16:17] #27 closed, assigned to valentjn

[2020-10-23 16:21] valentjn commented on #27
Thanks for the suggestion. You can still open PRs even if you don't have a Java development environment: Just add a failing (at first) test for the desired feature and add your feature to get the tests running. ~Jenkins~ Travis should do everything for you.

[2020-10-23 16:34] zertrin commented on #27
Thanks!

TBH, I didn't really look at the tests until now 🙄. I can read plain Java code for the main logic well enough, but without knowing the test framework used, I wouldn't have dared crafting a PR directly in GitHub 😄.

But the example from the commit (https://github.com/valentjn/ltex-ls/commit/101c2a7a2785b6fd5cd9d6365bd1b67ab59ef0a9) is useful and points me to the direction to understand it

[2020-11-02 17:31] valentjn commented on #27
Fix released in 8.0.0.

[2020-12-06 20:05] LDAP opened #31 "Sublime Text: Port works only on small examples"
Hey,
I created a Sublime Text Plugin [LDAP/LSP-ltex-ls](https://github.com/LDAP/LSP-ltex-ls) which is using the [LSP](https://github.com/sublimelsp/LSP) client plugin and your language server to provide language checking for latex and markdown in Sublime Text.

It is already working for little examples:
![grafik](https://user-images.githubusercontent.com/8215084/101290581-8e656880-3803-11eb-9206-3

[2020-12-07 17:07] valentjn commented on #31
I'll use this issue to respond to your e-mail as well. First, let me start by saying I'm very happy that LT<sub>E</sub>X might be used for other editors than VS Code.

You have probably noticed that up to now, LT<sub>E</sub>X LS has not been developed with other language clients than vscode-ltex in mind. Hence, its development has been kind of rough:

- The semantic versioning was only adhered to

[2020-12-07 19:31] LDAP commented on #31
I actually did already implement those extension. I do process the progress messages and on workspaceSpecificConfiguration I answer with a empty message, since in sublime users can overwrite settings directly.

This did solve everything. LTEX for sublime is working now 🎆 . I did wonder before how you inject the patch into the classloader - now I know.

[2020-12-07 19:33] LDAP commented on #31
Maybe in such case you can mention me in the commit/pull-request? I'll give my best to resolve the issues on sublime side.

[2020-12-07 19:48] #31 closed, assigned to nobody

[2020-12-08 10:41] LDAP opened #32 "Saving settings on other editors fails"
**Describe the bug**
Saving settings on other editors fails

**Steps to reproduce**
Use any code action that modifies user settings

**Expected behavior**
Actually not sure - is there any specification in the LSP?

**Actual behavior**
ltex-ls responds with `false`

Connected to LDAP/LSP-ltex-ls#3

[2020-12-08 18:01] LDAP commented on #32
I looked into the commits, and it seams that the external settings-file management was moved out of ltex-ls.

A possible solution would be to move it back to ltex-ls and then expose
`LTEX_GLOBAL_STORAGE_PATH, WORKSPACE, WORKSPACE_FOLDER` to settings.
(I am reffering to the naming from [here](https://valentjn.github.io/vscode-ltex/docs/advanced-usage.html#external-setting-files))

Part of the infor

[2020-12-08 18:47] valentjn commented on #32
The LSP spec treats the client as responsible for managing the configuration (in this case: dictionary, disabled rules, etc.); the server retrieves it via [`workspace/configuration`](https://microsoft.github.io/language-server-protocol/specification#workspace_configuration) or [`workspace/didChangeConfiguration`](https://microsoft.github.io/language-server-protocol/specification#workspace_didChang

[2020-12-08 21:08] LDAP commented on #32
Okey, this means its a client-side issue only.

I will look into this more deeply in the next weeks. Does the server expect a `didChangeConfiguration` or `configuration` after `ltex.addToDictionary` and `ltex.disableRules`?

I must admit I am not that familiar with the protocol itself. It was just enought to extend the existing framework on sublime to support ltex-ls.

[2020-12-08 21:08] #32 closed, assigned to nobody

[2020-12-09 17:46] valentjn commented on #32
[`workspace/configuration`](https://microsoft.github.io/language-server-protocol/specification#workspace_configuration) is a server-to-client request. [`workspace/didChangeConfiguration`](https://microsoft.github.io/language-server-protocol/specification#workspace_didChangeConfiguration) (a client-to-server notification) is "more correct," as it will trigger a recheck of all open documents.

"More

[2020-12-09 18:04] LDAP commented on #32
I already implemented these custom commands and it seams that the LSP framework on sublime does the work for me in this case.

See https://github.com/LDAP/LSP-ltex-ls/pull/4

That means LSP-ltex-ls is now fully functional. But without the per-project/workspace settings those are vscode-only (but may be implemented in the future). I do only add the exceptions to the user settings.

[2020-12-12 11:35] LDAP opened #34 "Use serverInitiatedProgress instead of custom notifications"
**Is your feature request related to a problem? Please describe.**
ltex-ls is using custom notifications for progress reporting.

**Describe the solution you'd like**
Replace it with the standard [server initiated progress scheme](https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/#serverInitiatedProgress) of the LSP specification.
See https://github.com/microso

[2020-12-12 11:43] valentjn commented on #34
This is already done, just haven't pushed yet.

[2020-12-12 19:53] valentjn commented on #31
All of the points I mentioned should be improved now.

- LT<sub>E</sub>X LS will adhere to Semantic Versioning from 9.0.0 on. Be careful in the future when updating to a new major-point release.
- There's now some documentation in the [readme](https://github.com/valentjn/ltex-ls/blob/develop/README.md).
- LT<sub>E</sub>X LS should be LSP-compliant again. `ltex/progress` has been replaced with LSP'

[2020-12-12 20:14] LDAP commented on #31
Nice work. Gonna try 9.0.0 tomorrow with sublime.

[2020-12-13 11:46] LDAP commented on #34
I would like to reopen this issue (but I can't due to GitHub permissions).

I tested the 9.0.0 alpha and it seams that the specification for [serverInitiatedProgress](https://microsoft.github.io/language-server-protocol/specification#serverInitiatedProgress) is not met.

I think currently the server is implementing [clientInitiatedProgress](https://microsoft.github.io/language-server-protocol/spec

[2020-12-25 15:02] #34 closed, assigned to valentjn

[2020-12-25 15:12] valentjn commented on #34
The server didn't use client-initiated progress as the tokens used by the server notifications are not introduced by the client before the server notifications. Just the `window/workDoneProgress/create` request was missing for server-initiated progress. This is fixed now, as well as the progress title.

[2020-12-27 11:29] LDAP commented on #34
Does work now with the LSP client for Sublime Text too.

[2021-01-03 20:00] valentjn commented on #31
9.0.0 has been released, the points I mentioned are now fixed.

[2021-01-03 20:01] valentjn commented on #34
Fix released in 9.0.0.

[2021-01-22 01:09] Jieli12 commented on #27
It seems that I still can't reset the customer setting for latex command. I disabled all extensions except latex workshop and ltex.  For example, I want to ignore this latex command **\lstset{style=mylststyle}**. In the settings.json file, I add
`"ltex.latex.commands": {
    "\\\\lstset{}": "ignore"
  }`
But It doesn't work, would you please help me to solve this problem?

[2021-01-22 01:12] Jieli12 opened #41 "Can not reset customer settings for latex command"
It seems that I still can't reset the customer setting for latex command. I disabled all extensions except latex workshop and ltex.  For example, I want to ignore this latex command **\lstset{style=mylststyle}**. In the settings.json file, I add
`"ltex.latex.commands": {
    "\\\\lstset{}": "ignore"
  }`
But It doesn't work, would you please help me to solve this problem?

_Originally posted by @J

[2021-01-22 10:33] #41 closed

[2021-02-25 20:59] dpriedel opened #46 "Where is bin/ltex-ls script?"
The bin/ltex-ls script is mentioned in the Readme, but I've looked but can't find this script.

Thanks

[2021-02-25 21:04] valentjn commented on #46
The script is part of the binary releases: https://github.com/valentjn/ltex-ls/releases

[2021-03-18 23:08] searleser97 opened #51 "Are there any thoughts on creating a Vim/Neovim plugin as well ?"
Similar to [vscode-ltex](https://github.com/valentjn/vscode-ltex) but for Vim/Neovim

[2021-03-21 09:48] #46 closed, assigned to nobody

[2021-03-21 09:59] valentjn commented on #51
Thanks for the suggestion. Unfortunately, I don't use Vim at all. I think it's best if such a plugin is created by someone who uses Vim for their everyday work (like I do with VS Code).

As LT<sub>E</sub>X is basically a front-end for LanguageTool, you can try one of the existing LanguageTool plugins such as [rhysd/vim-grammarous](https://github.com/rhysd/vim-grammarous) or [dpelle/vim-LanguageToo

[2021-03-22 17:25] LDAP opened #53 "Support class and style files"
**Is your feature request related to a problem? Please describe.**
LTEX-LS reports a lot of false positives in `cls` and `sty` files.

**Describe the solution you'd like**
Support `cls` and `sty` files.

**Related question**
Does LTEX-LS distinguish filetypes over `languageId` or by file extension? Is LaTex filtering of commands disabled if the languageId (or extension) does not match?

[2021-03-24 10:46] LDAP commented on #53
If I interpret these lines correctly:
https://github.com/valentjn/ltex-ls/blob/403f315b37e35f5f8a918ea854c460776cddaf61/ltexls-core/src/main/java/org/bsplines/ltexls/server/LtexWorkspaceService.java#L76-L77

https://github.com/valentjn/ltex-ls/blob/403f315b37e35f5f8a918ea854c460776cddaf61/ltexls-core/src/main/java/org/bsplines/ltexls/server/LtexWorkspaceService.java#L99-L104

LTEX-LS should first

[2021-03-26 17:56] valentjn commented on #53
Language servers use the language ID of the text document when they &ldquo;[handle] more than one language to avoid re-interpreting the file extension&rdquo; ([see LSP spec](https://microsoft.github.io/language-server-protocol/specification#textDocumentItem)). So LT<sub>E</sub>X LS does this as well. Remember that the document URL may just be something like `untitled:Untitled-1`. You can't guess w

[2021-03-26 18:27] LDAP commented on #53
I may have found the issue in my side. The ST client sends `tex` as languageId instead of `latex` when dealing with `cls` and `sty` files.

[2021-03-26 18:51] LDAP commented on #53
I found the issue: The ST client indeed sends the `languageId` `tex`. This is the valid id according to https://microsoft.github.io/language-server-protocol/specification#textDocumentItem

[2021-03-31 20:20] ed359 opened #56 "Missing accent and special character support"
**Describe the bug**
Several accents and special characters are missing support. I am particularly interested in proper handling of \H{o} -> ő. See the details below.

**Steps to reproduce**
Steps to reproduce the behavior:

1.  Save the latex code given below as a .tex file
2. Open it in VSCode with the LTeX plugin enabled
3. Observe the poor handling of some accents. One can add Erdős to the dic

[2021-04-01 18:18] ed359 commented on #56
This PR should fix the issues I've been having: https://github.com/valentjn/ltex-ls/pull/57

[2021-04-03 06:44] neoscaler opened #220 "Add support for AsciiDoc"
**Is your feature request related to a problem? Please describe.**
I want to be able to spell check AsciiDoc documents, which are similar to Markdown but with slightly other syntax and more complex features for books.

**Describe the solution you'd like**
Full support for AsciiDoc (language identifier 'asciidoc'). Language specification and information here: https://asciidoc.org/

[2021-04-03 09:33] valentjn commented on #53
I thought the problem of this issue was that there were too many false positives with class and style files (see issue description)? Now it sounds like there were no diagnostics at all due to the language ID mismatch? Can you please clarify what exactly the problem of this issue is, and what the desired solution should look like?

I doubt that we should check class or style files by default, as th

[2021-04-03 09:37] LDAP commented on #53
It's the languageId mismatch. The false positives were a result of that. In my opinion I would at least allow TeX files to be parsed and not handle the id `tex` as plain.
The server can be independently disabled by the client for TeX.

[2021-04-03 18:15] jcs090218 opened #65 "Error when supplying non-object values to `initializationOptions`"
Hi, I am trying to create a Emacs plugin for this language server. I am currently getting this error to get the server up and running.
[code]

[2021-04-03 19:54] #65 closed, assigned to valentjn

[2021-04-03 19:54] valentjn commented on #65
The problem was that LT<sub>E</sub>X LS expected the value of `initializationOptions` during the [`initialize` request](https://microsoft.github.io/language-server-protocol/specification#initialize) either to be missing or to be a JSON object, but it seems to be given `null` according to the stack trace (which is a valid value according to the LSP spec). As a workaround, use `{}` for `initializati

[2021-04-04 08:03] valentjn commented on #56
Changing this to feature request as there is no way LT<sub>E</sub>X can cover all of Unicode, so these accents were previously out of feature scope.

[2021-04-04 08:20] #56 closed, assigned to valentjn

[2021-04-04 09:32] jcs090218 commented on #65
Thanks! It works! :)

Here is the Emacs client for LTEX LS, https://github.com/emacs-languagetool/lsp-ltex.

[2021-04-04 11:42] jcs090218 commented on #65
And another Emacs client implementation using `eglot`, https://github.com/emacs-languagetool/eglot-ltex.

Just thought this might worth to mention since some users prefer `eglot` over `lsp-mode`.

[2021-04-04 19:21] valentjn commented on #65
Great! I've added a list of language clients for LT<sub>E</sub>X LS to the readme.

[2021-04-05 06:10] valentjn commented on #51
I guess it's fairly easy with [vim-lsp](https://github.com/prabirshrestha/vim-lsp). But I don't know that scripting language, so I can't help. If someone creates a language client, I'll be happy to add it to the list in the readme.

[2021-04-05 06:10] #51 closed, assigned to nobody

[2021-04-05 06:41] #53 closed, assigned to valentjn

[2021-04-05 06:42] valentjn commented on #53
Ok. I'm still not convinced it's a good idea to check these files, but it doesn't hurt to let the client decide by adding `"tex"` to `ltex.enabled`.

[2021-04-05 16:48] valentjn commented on #65
Fix released in 11.0.0. Please update as pre-releases are removed soon after the regular release.

[2021-04-05 16:50] valentjn commented on #56
Fix released in 11.0.0 (corresponds to vscode-ltex 10.0.0).

[2021-04-05 16:52] valentjn commented on #53
Fix released in 11.0.0.

[2021-04-05 17:12] jcs090218 commented on #65
Awesome! Just updated to `11.0.0`. See https://github.com/emacs-languagetool/lsp-ltex/commit/61cd3b287f5f7761f7dc0b48b3ed7a1a4a844a2c. :D

[2021-04-06 11:28] valentjn commented on #220
Thanks for the request. AFAICT, the reference parser Asciidoctor provides code position information [only regarding the line, not the column (or file character)](https://github.com/asciidoctor/asciidoctorj/blob/375c666cf2a48807eb9c95a4833d3dbe77fd063f/asciidoctorj-api/src/main/java/org/asciidoctor/ast/Cursor.java) of the currently parsed block. It would be possible to retrieve this information our

[2021-04-07 05:35] jcs090218 opened #66 "[Question] Why Maven instead of Gradle?"
Hi @valentjn,

I have a question why the commit ff43f038c999b1f8860a1e14ccd6755bbe8c476b. I am just curious and want to know the reason on this move.

Thanks! :)

[2021-04-07 07:24] valentjn commented on #66
Gradle seemed to cause more problems for me than it solved. You don't see it in the commit history (because only the final results made it in there), but every time something related to the build system needed to be changed, an overly large amount of googling was necessary to solve any arising problems (and it wasn't just because of me – I knew CMake and SCons). IIRC, old problems that I deemed so

[2021-04-07 18:23] #66 closed, assigned to nobody

[2021-04-13 19:54] neoscaler commented on #220
Thanks, this workaround helps, at least for my current work. It checks the files, although we have a lot of false positives in table definitions.

[2021-04-19 17:27] lbiaggi opened #67 "CLI parameters unresponsive"
**Describe the bug**
CLI options don't seem to work except for --version, even -V doesn't seem to work

**Steps to reproduce**
Steps to reproduce the behavior:

1 - try to execute the supplied ltex-ls script with -V or any option doesn't change anything.

**Expected behavior**
work as described

**Version information**
List here the version information of the relevant software.

- Operating system

[2021-04-19 17:28] #67 closed, assigned to nobody

[2021-04-19 17:32] valentjn commented on #67
Just tested it, cannot reproduce. You probably called the wrong executable, or you have another version on your `PATH`.

Edit: The issue description says you're using version &ldquo;11.00&rdquo; of ltex-ls. If you mean 11.0.0, then that's the wrong version. The CLI options were added in 12.0.0.

[2021-04-19 18:25] lbiaggi opened #68 "How to correct define dictionary"
Hello, I´m trying to make ltex-ls work with the builtin neovim lsp client, the basic stuff is already working (linting) out of the box, but when I try to define a dictionary it doesn't  respect my definition.

[2021-04-20 11:07] valentjn commented on #68
Not sure what you did. You have to be more specific. If you set [`ltex.dictionary`](https://valentjn.github.io/vscode-ltex/docs/settings.html#ltexdictionary) on your client, and the client correctly responds to the server's [`workspace/configuration`](https://microsoft.github.io/language-server-protocol/specification#workspace_configuration) requests, then it should work. If it doesn't, open a bug

[2021-04-20 11:46] lbiaggi commented on #68
Ok, my bad
I tested with vscode ltex client and since "pt-BR": [":~/.nvim/spell/dictionary.txt"] worked as expected,

I did something similar to use with ltex-ls, reading txt file is vscode specific?

[2021-04-21 05:59] valentjn commented on #68
Ah yes, sorry, that's client-specific. The philosophy of the LSP is that the clients are responsible for configuration and files, the servers only do the actual checking. IMO it wouldn't make much sense to have configuration on both client and server sides. If you want that feature for your client, too, then you'll need to implement [`ltex/workspaceSpecificConfiguration`](https://github.com/valent

[2021-04-21 17:08] valentjn commented on #68
I updated the docs. Most client-specific sections are now marked with a striped border. This should reduce future confusion.

If LT<sub>E</sub>X is working reasonably well for you, it would be great if you could upload your setup or instructions to a GitHub repo (or somewhere else). People were already asking about LT<sub>E</sub>X for Vim/Neovim (#51). I'd be happy to link your solution in the rea

[2021-04-21 17:10] valentjn commented on #51
In #68, someone managed to get LT<sub>E</sub>X to work with Neovim using the built-in LSP client.

[2021-04-21 22:59] lbiaggi commented on #68
Hi, thanks @valentjn, sure still a WIP [ltex with neovim-lspconfig](https://gist.github.com/lbiaggi/a3eb761ac2fdbff774b29c88844355b8), but the basics work perfectly! (I can add words to dict file, still missing ignore and false positives, althought, to insert words I created a custom vim function)

I asked for help neovim/nvim-lspconfig#858 because I am not sure how to implement part of it

[2021-04-23 19:54] lbiaggi commented on #68
New version of gist is available (everything is now usable, but you need to define few things, e.g.  language, files), further changes I will send as MR to nvim-lspconfig

BTW, amazing work

[2021-04-23 22:38] #68 closed, assigned to nobody

[2021-04-26 19:21] ed359 opened #69 "Wrong underlining of words starting with markup"
**Describe the bug**
When spell checking a word with an accented character at the beginning, typed using a latex command, the initial accented letter is omitted in the rule reporting a misspelled word.

**Steps to reproduce**
Type the word \v{s}ekki (which is šekki) into a latex document, with spell checking for English enabled and observe that "ekki" gets underlined, but not the entire word.

**E

[2021-04-26 20:33] valentjn commented on #69
There is a bug in the computation of the length of the underlining (which also determines the word `X` in the message `'X': Possible spelling mistake found.`). The checking itself is not affected (i.e., if you use a word LanguageTool knows, there won't be a diagnostic). The `Use '...'` quick fixes display the correct suggestions; however, the wrong word will be replaced when applying them. The `Ad

[2021-04-26 20:37] ed359 commented on #69
Ok, it's good to know that the underlying spell checking is correct, but the user interface reporting ```'X': Possible spelling mistake found.``` is where the error is. Thank you.

[2021-04-27 18:39] #69 closed, assigned to valentjn

[2021-04-27 18:39] valentjn commented on #69
Thanks for the report, this should be fixed.

[2021-04-27 21:05] ed359 commented on #69
The new tests in 6317adc do not pass for me:
[code]

[2021-04-27 21:23] valentjn commented on #69
They pass in GitHub Actions (and for me), so it's definitely working.

Best guess is that you forgot to update your local installation of ltexls-languagetool-patch (see second task in [.vscode/tasks.json](https://github.com/valentjn/ltex-ls/blob/6317adc6fb5c3dd2c390689f454c168ddd62acdc/.vscode/tasks.json)).

[2021-04-28 18:29] ed359 commented on #69
I wasn't using the tasks in tasks.json, so indeed that was the problem. Thank you for helping me run the tests. I'm on Windows and the build task fails with an error similar to the one described here: https://stackoverflow.com/questions/6347985/cannot-run-maven-using-mvn-d-argument-within-microsoft-powershell-but-works.

The issue is that powershell needs some quoting in the command string, namely

[2021-05-01 15:43] valentjn commented on #69
Fix released in 12.1.0.

[2021-05-05 14:40] tani opened #70 "Native executable with GraalVM"
**Is your feature request related to a problem? Please describe.**

Thank you for the great software. I like this project because the Language Server Protocol is more stable and solid than LanguageTool Protocol. However, I have one suggestion to be a faster startup. We currently have two issues.

- Downloading Java VM
- JavaVM startup is slow.

**Describe the solution you'd like**

A few years ago

[2021-05-08 07:25] valentjn commented on #70
Thanks for the feature request. This is basically a duplicate of valentjn/vscode-ltex#5, where I tried native-image a year ago.

[I just tried it again](https://github.com/valentjn/ltex-ls/commit/b3a357518c61e3dc3439d0aa07d0cf6e4e3427c9) and the situation definitely got better, due to fewer missing features in native-image and due to better support from the community. However, it's still pretty co

[2021-05-08 14:27] tani commented on #70
Thank you for explaining me. I got the context and am sorry for the duplicating issues.

OMG, that is a serious problem around your coding environment.

The same holds for reflection, which is still a weak point of native-image.

I see that is a problem only for this repository but also the problem of LanguageTool. It looks hard to fix it,

Is the source code of the script here?

https://github.co

[2021-05-08 17:32] valentjn commented on #70
Thank you for your response. I have added support for platform-dependent archives (which include LT<sub>E</sub>X LS and Java via AdoptOpenJDK) for all future releases. You can test it with the [new 12.2.0-alpha.1 pre-release](https://github.com/valentjn/ltex-ls/releases/tag/12.2.0-alpha.1), which is feature-wise equivalent to 12.1.0. Just download the version for your platform and run the `bin/lte

[2021-05-08 17:32] #70 closed, assigned to nobody

[2021-05-22 00:40] hdorgeval opened #71 "Non-server command-line interface (CLI)"
Hi, I am using your extension to manually correct markdown files and it works great!

I would like to know if there is a way to write a script inside [my visual studio project](https://github.com/hdorgeval/le-livre-des-rois) (nodejs + typescript), that could tell for any given markdown filepath if there is an error or not in the file.

Thanks for your response.

---

*Note: Originally posted as is

[2021-05-23 05:59] valentjn commented on #71
LT<sub>E</sub>X uses the [Language Server Protocol (LSP)](https://microsoft.github.io/language-server-protocol/) architecture, which separates the display of diagnostics (&ldquo;language client&rdquo;) from the actual checking of documents (&ldquo;language server&rdquo;). Therefore, LT<sub>E</sub>X is split into the language client vscode-ltex and the language server ltex-ls. You should use [ltex-

[2021-05-24 14:28] hdorgeval commented on #71
@valentjn : thanks for your answer.

It would be great if you could provide a non-server, file checker mode to ltex-ls.

[2021-05-24 15:06] valentjn commented on #71
It's not straightforward, and I'm currently pretty busy, so this will take a while. Learning to use the LSP might be faster for you. The file checker will probably print the results in the LSP response format, anyway.

[2021-06-19 01:12] rgcv opened #72 "Wrong mapping for `portuguese` language"
Hey there!

First off, great extension, I love it, awesome stuff with L<sup>A</sup>T<sub>E</sub>X support.

I've seemed to have identified what looks to be an issue when trying to enclose portuguese text using babel commands.  I've tried them all: `foreignlanguage`, `selectlanguage`, the `otherlanguage` environment.  Magic comments work fine with the language tag, but that had me thinking.

I reso

[2021-06-19 08:03] #72 closed, assigned to valentjn

[2021-06-19 08:07] valentjn commented on #72
Thanks for the report. I copied the languages from the babel manual by hand, so that was a typo. Also, I think `pt-PT` should be used instead of `pt`. Not using the regional variant, if one exists, results in specific errors (mostly spelling errors) not being displayed, at least for other languages.

[2021-06-19 23:26] rgcv commented on #72
No problem, thank you for the quick solution!  I'm a typist myself, I understand it perfectly.  And I agree, if one exists, the regional variant should be used, sounds sensible.

[2021-07-03 10:53] katzimoto opened #73 "Commit hook/CI support"
Does it possible to create a commit hook that can be used on pre-commit/CI service to keep my repository from grammar mistakes?
I saw it on another projects as linters and I think it's would be great if I could avoid from grammar mistakes automatically.

[2021-07-05 12:16] valentjn commented on #73
What you basically want is a CLI-based way to interact with LT<sub>E</sub>X LS. This will certainly be possible once #71 is implemented. You should then be able to write Bash scripts and YAML files that use LT<sub>E</sub>X LS for Git hooks and CI, respectively.

Closing as duplicate of #71.

[2021-07-05 12:16] #73 closed, assigned to nobody

[2021-07-12 19:06] valentjn commented on #72
Fix released in 12.3.0.

[2021-07-17 18:14] #71 closed, assigned to valentjn

[2021-07-17 18:23] valentjn commented on #71
This is now implemented via `--input-documents`. I opted for a human-readable output, which may be processed by scripts at the same time. The exit code indicates whether no grammar/spelling errors were found (exit code 0), or at least one error (exit code 3).

[2021-07-19 19:19] hdorgeval commented on #71
Hi @valentjn , thank you so much for integrating this new feature 👍 .

I will test it and I will give you some feedback as soon as it is published.

Regards

[2021-07-19 19:29] valentjn commented on #71
FWIW, `develop`, which includes this feature, is already published as [pre-release on a nightly basis](https://github.com/valentjn/ltex-ls/releases). The same holds for vscode-ltex, which should be irrelevant in this case.

[2021-07-22 15:01] janpb opened #88 "ltex in VSCode: Request ltex/workspaceSpecificConfiguration failed with message: s[e] is not iterable"
Locally installed ltex-ls is not working in VSCode.

**Expecting** : ltex-ls indicate typos etc.
**Observing**: No indication of typos

 After opening any LaTeX file, ltex-ls reports following error:
[code]

The ltex client is reporting everything is working fine (see below), but  not indicating any typos or other language related issues. The examples in walkthrough  from vscode-ltex (https://gith

[2021-07-25 15:14] hdorgeval opened #91 "Make `--settings-file` compatible with flattened JSON like VS Code's `settings.json`"
Hi @valentjn, I just tried the new option `--input-documents` and it works great. Thank you so much for providing this feature!

Nonetheless, It is not clear how to use this new option with the `--settings-file` option.

My use case is that I would like to re-use the workspace settings files that have been generated in VSCode:

![Screen Shot 2021-07-25 at 17 08 18](https://user-images.githubuserco

[2021-07-25 17:27] valentjn commented on #91
[There is an example in the docs under `--settings-file`.](https://github.com/valentjn/ltex-ls#command-line-arguments)

You have to remove the `ltex.` prefixes to make it work (this stems from the configuration format the LSP mandates). Now that I think about it, you probably also have to unfold everything (that part is missing in the docs). So `{"ltex.latex.commands": ...}` becomes `{"latex": {"c

[2021-07-25 19:22] hdorgeval commented on #91
Hi @valentjn, thanks for your answer. Now I understand more.

For those who will land on this question/issue, here is the excerpt of the settings file that should be given  to the `--settings-file` option (in my use case the input document is in french):

[code]

Basically, it is just a copy/paste of the files generated by the [VSCode extension vscode-ltex](https://github.com/valentjn/vscode-ltex)

[2021-07-28 20:37] hdorgeval commented on #91
Here is the script that builds the needed settings file from what has been generated by the VSCode extension (this sample code handles only french files):

[code]

`readAllLinesInFile`:
[code]

[2021-08-05 16:49] valentjn commented on #91
LT<sub>E</sub>X LS can now parse flattened JSON objects as well, with or without `ltex.` prefix. Look in the readme/CLI help for examples.

Note that the settings JSON of the screenshot in the description of this issue won't work though, because that's not valid JSON (has trailing commas). Only valid JSON is supported (no trailing commas, no comments).

[2021-08-05 16:49] #91 closed, assigned to valentjn

[2021-08-10 10:54] rubenvandeven opened #95 "Configure severity per rule"
**Is your feature request related to a problem? Please describe.**
Generally, I prefer to have spelling errors at a 'warning' severity so there is a clear indication that I need to address them.
Also, I really enjoy LanguageTool's suggestions for e.g. passive voice, or hints about quotes, these errors can be distracting while writing. In particular because they appear as equally severe as spelling

[2021-08-10 18:25] #95 closed, assigned to valentjn

[2021-08-10 18:28] valentjn commented on #95
Thanks for the suggestion, this is now implemented.

And thank you for the kind words (it means a lot to me!), but I can only take credit for vscode-ltex and ltex-ls. LanguageTool is not from me.

[2021-08-11 12:31] rubenvandeven commented on #95
Wow, that's blazing fast. Many thanks!

While I'm aware that you "only" maintain ltex, I admire anyone able to maintain _any_ floss package -- it's easy to underestimate the effort invested in these projects. Keep up the great work!

[2021-08-11 18:50] valentjn commented on #71
Feature released in 13.0.0.

[2021-08-11 18:51] valentjn commented on #91
Feature released in 13.0.0.

[2021-08-11 18:51] valentjn commented on #95
Feature released in 13.0.0 (vscode-ltex 11.0.0).

[2021-08-19 20:18] Ailrun opened #96 "Support for editors other than VSCode"
**Is your feature request related to a problem? Please describe.**
Currently, code actions like `Add "..." to dictionary` or `Disable rule` work only in VSCode, as their behavior depends on VSCode setting modification. It will be nicer if it can delegate the responsibility of modifying the setting to clients so that those actions work with other editors, e.g., Emacs.

**Describe the solution you'd

[2021-08-19 21:12] valentjn commented on #96
The language client *is* already responsible to perform the necessary configuration changes, [like the README says](https://github.com/valentjn/ltex-ls/blob/e77537102c3626986bf6784a5eb4ca35d4bca53b/README.md#commands):

For example, the [documentation for `_ltex.addToDictionary`](https://github.com/valentjn/ltex-ls/blob/e77537102c3626986bf6784a5eb4ca35d4bca53b/README.md#_ltexaddtodictionary-client

[2021-08-19 21:34] Ailrun commented on #96
Oh I was confused since the documentation mentions `ltex.dictionary`, which has a link to VSCode specific setting. OK, I will check lsp-ltex side to make this work. Thank you for the answer.

Maybe it's worthwhile to update README to make it less confusing? What do you think?

[2021-08-20 05:06] valentjn commented on #96
Again, I'm not sure what you mean. The [documentation of `_ltex.addToDictionary`](https://github.com/valentjn/ltex-ls/blob/e77537102c3626986bf6784a5eb4ca35d4bca53b/README.md#_ltexaddtodictionary-client) links to `ltex.dictionary`, but the docs of [`ltex.dictionary`](https://valentjn.github.io/vscode-ltex/docs/settings.html#ltexdictionary) don't say anywhere that's a VS-Code-specific setting, becau

[2021-08-20 06:43] Ailrun commented on #96
Oh sorry. It was indeed my misunderstanding. Thank you for your patience on my non-sense. I will close this issue.

[2021-08-20 06:43] #96 closed, assigned to nobody

[2021-09-06 15:38] oblitum opened #103 "Support language tool language auto detection"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Using actual real-world examples that explain why you and many other users would benefit from the feature increases the request's chances of being implemented.

LanguageTool have language auto detection:

[code]

It would be great if ltex-l

[2021-09-06 15:42] oblitum commented on #103
I'd like to take the opportunity to say thank you for this project, it's great! I'd like also to share that I have forked vscode-ltex into [coc-ltex](https://www.npmjs.com/package/coc-ltex), to get mostly all features in Vim or NeoVim. It's a minimal fork to reduce maintenance when syncing to upstream, which I plan doing from time to time.

[2021-09-06 17:17] #103 closed, assigned to valentjn

[2021-09-06 17:25] valentjn commented on #103
Thanks for the feature request. I did look at this before, but the fact that variants couldn't be detected, which resulted in having no spelling errors, drove me away. I'll add to the docs that it's not recommended to use this.

Regarding coc-ltex, is it possible to use some `if` clauses to have one repo for both? Or would that be too ugly? The differences don't seem to be too large. I don't use N

[2021-09-06 17:38] oblitum commented on #103
Yeah, that's not great indeed, although I like having basic auto detection at hand, even though missing variant specific.

I'm not sure. I believe it should, as you can see, I'm just trying to apply the strictly needed changes for most of what I could infer of features to work on coc.nvim's side. I can say it's working pretty well, even for code comments, just working out of the box:

![gif-2021-0

[2021-09-06 17:41] oblitum commented on #103
This is my first coc.nvim extension, and it's a fork 99.999999% of the work is yours. I'm not into developing it that much as I'm short of time, so, my stance with it at the moment is just to keep it up with minimal changes as far as it works, but I can't atm go much further into providing custom tests, etc.

[2021-09-06 17:56] oblitum commented on #103
"`if` clauses" might not be a great route because often coc.nvim forks of vscode extensions end up providing coc/vim/nvim specific features that don't make sense in VScode, meaning, they can be their own beast, and often they are. It would work ideally when the developers actually care for providing support for both, including eventual specific features.

[2021-10-14 15:12] valentjn commented on #103
Feature released in 14.0.0.

Regarding coc.nvim, vscode-ltex 12.0.0 now supports VS Code as well as coc.nvim. I had looked at the diff and it didn't seem large to me, more akin to a different compilation target. The advantages are that vscode-ltex's CI automatically builds the coc.nvim version as well (i.e., incompatibilities are spotted earlier) and the coc.nvim version benefits from earlier upda

[2021-10-14 16:54] oblitum commented on #103
This is really great. I'm a bit unsure how to proceed now, it seems that means one could just `:CocInstall vscode-ltex` and ignore about the existence of coc-ltex? If that's the case, I may drop the module from npm. If it's better to keep it (in case that doesn't work or given all coc extensions are coc-something), I may look how to transfer ownership, if you prefer that.

(cc @chemzqm / @fannheyw

[2021-10-14 17:13] oblitum commented on #103
Ah, vscode-ltex isn't on npmjs.com,  so `:CocInstall vscode-ltex` isn't expected to work.

I can manage owners for the current coc-ltex package, but I didn't find an user with your GitHub username there.

[2021-10-15 02:01] fannheyward commented on #103
coc.nvim supports install extensions from Github like this: `:CocInstall https://github.com/valentjn/vscode-ltex@develop`. coc.nvim will download the tar.gz from Github and run `npm install`.

I've tried this but: `vscode-ltex` needs to run `python3 tools/patchForTarget.py` first before `npm install` and compile build.

This means we can't use `CocInstall` to install it, but vim-plug can:

[code]

[2021-10-15 07:01] valentjn commented on #103
TypeScript and npm don't support conditional building, that's why the patching pre-processing step is necessary. As only one target can be built at any time, the best solution is probably having a separate npm module as before. This way, the workflow doesn't change for existing users, and users don't have to worry about the patching step, since the CI would take care of this. I wouldn't use `vscod

[2021-10-15 13:07] oblitum commented on #103
@valentjn I've added you as owner. ~It seems at the moment something is on hold for it to take effect as `npm owner list coc-ltex` only displays myself~ Already took effect.

[2021-10-16 18:55] valentjn commented on #103
@oblitum Thank you. Just published vscode-ltex/coc-ltex 12.1.0 (*) via a new GitHub Actions job, and LT<sub>E</sub>X seems to work for me after installing with `:CocInstall coc-ltex`.

(*) As I like to view coc.nvim as just another target like VS Code, vscode-ltex and coc-ltex will always have the same latest version.

[2021-10-16 19:10] oblitum commented on #103
@valentjn really nice, just upgraded, working without issues. Gonna drop my repositories now.

[2021-10-16 19:10] valentjn commented on #51
LT<sub>E</sub>X is now officially published as a [coc.nvim](https://github.com/neoclide/coc.nvim) extension named [coc-ltex](https://www.npmjs.com/package/coc-ltex). Just install `coc.nvim`, run `:CocInstall coc-ltex`, and enjoy LT<sub>E</sub>X.

[2021-10-16 19:11] valentjn commented on #103
@oblitum It wouldn't have been possible without your input. Thanks again.

[2021-10-16 20:27] oblitum commented on #103
@valentjn ops, I just noticed that it's not working by default on LaTeX files in vim/neovim. Your changes seem to be missing this from my original fork:

[code]

Vim/NeoVim usually doesn't have a "latex" filetype, it's named "tex".

Besides this, imo, coc.nvim support should be mentioned in vscode-ltex's README and as Vim/NeoVim client in the list of clients in ltex-ls's README. Otherwise it's har

[2021-10-16 20:28] oblitum commented on #103
In case you wish but don't have a copy on my fork ready (as I dropped it already from online repo), I may put up the patch as a gist.

[2021-10-16 22:29] valentjn commented on #103
Please open new issues for any bugs (or feature requests) to help keep things concise, either here for server issues or over at [valentjn/vscode-ltex](https://github.com/valentjn/vscode-ltex) for client issues.

[2021-10-25 15:22] David-Else opened #113 "Enable the use of the free ngram data"
Language Tool can be greatly enhanced using the free ngram data, all the info is here: https://dev.languagetool.org/finding-errors-using-n-gram-data

It would be great if the user could supply the directory that they have downloaded this to and `ltex-ls` could use it.

Thanks.

[2021-10-25 15:40] valentjn commented on #113
This is already possible with [`ltex.additionalRules.languageModel`](https://valentjn.github.io/ltex/settings.html#ltexadditionalruleslanguagemodel).

[2021-10-25 16:08] valentjn commented on #113
Duplicate of valentjn/vscode-ltex#3.

[2021-10-25 16:08] #113 closed, assigned to nobody

[2021-10-25 18:32] David-Else commented on #113
I have my ngrams unzipped in the home directory like so:
[code]
and my Neovim config looks like:
[code]

I am using the text they suggest to test for the ngram feature and it is not working:
[code]
Is there something wrong with `languageModel = '~/en'`? Thanks!

[2021-10-25 18:54] valentjn commented on #113
You need to set it to the parent directory of `en`. (This also enables using *n*-grams for multiple languages.)

I clarified this in the docs.

[2021-10-25 19:27] David-Else commented on #113
Brilliant! It now picks them up.

Strangely `Don’t forget to put on the breaks` gives no code action, but `there last chance` does. Not sure why. They are reported as:

[code]
[code]

[2021-10-26 05:10] valentjn commented on #113
There _are_ code actions, at least in VS Code. I'm pretty sure LT<sub>E</sub>X LS is working as intended.

Code action request and response for `breaks`:

<details>

[code]
</details>

Code action request and response for `there`:

<details>

[code]
</details>

[2021-10-28 22:36] oblitum commented on #113
Working fine on nvim 0.5.1 (and most possibly on vim) through coc.nvim as well:

![gif-2021-10-28-192930](https://user-images.githubusercontent.com/1269815/139345140-add1325c-47ae-4300-972c-403242ac31ed.gif)

@David-Else careful to not confuse actions at the cursor (just one at a time) with actions for the whole document (two actions). Gif above illustrates that. Not sure whether that's the case o

[2021-10-29 10:20] David-Else commented on #113
@oblitum Thanks! You were right, I needed to move the cursor over the word :)

[2021-10-29 15:16] oblitum commented on #113
@David-Else nice. In case you're unaware I'd like to share that [it's possible to trigger it for code comments](https://github.com/valentjn/ltex-ls/issues/103#issuecomment-913787234), I find it a great feature. You would have to figure out how to do that on your setup though.

[2021-11-02 07:35] kozyakin opened #117 "openJDK Platform binary process runs forever"
**Describe the bug**
After executing ltex-cli.bat on any tex-file the process **_openJDK Platform binary (=java.exe)_**, which occupies about 800 MB, remains in RAM of Windows 10.

**Steps to reproduce**

1. Run the command

`ltex-cli.bat <tex file name>`

2. After finishing this command, inspect the running processes by Task Manager
3. Will be seen that the process **_openJDK Platform binary_**,

[2021-11-02 07:57] valentjn commented on #117
I can't reproduce this. As far as I understand, `ltex-cli.bat` finishes (i.e., the `cmd` prompt `C:\...>` is displayed again), but `java.exe` continues to run. I don't see any Java processes on my system after running `ltex-cli.bat`.

Can you please open a second `cmd` window and run `wmic process where "name like 'java.exe'" get processid,commandline` three times:
- once before the execution of `

[2021-11-02 09:57] kozyakin commented on #117
Please find attached files "before", "during" and "after" of outputs of the command **wmic process where "name like '%java%'"** which you requested (before execution, during and after).

I also attached related screenshots of Task Manage
[before.txt](https://github.com/valentjn/ltex-ls/files/7459624/before.txt)
[during.txt](https://github.com/valentjn/ltex-ls/files/7459627/during.txt)
[after.txt](

[2021-11-02 18:13] valentjn commented on #117
Thanks for the info. Looks like the Java process for `ltex-ls` is not properly terminated by the Java process for `lsp-cli`.

I still can't reproduce this, even on another machine, and with the Microsoft build of OpenJDK. But I made `lsp-cli` terminate `ltex-ls` more aggressively, see commits above. Can you please test the [pre-release 15.0.1-alpha.2](https://github.com/valentjn/ltex-ls/releases/t

[2021-11-02 18:33] kozyakin commented on #117
Now, all is running as expected: no **openJDK Platform binary** process after `ltex-cli.bat` finished!

Well done! Great! Thanks a lot!

[2021-11-02 19:04] #117 closed, assigned to valentjn

[2021-11-09 10:00] gour opened #120 "support for ConTeXt markup"
Hello,

how hard/easy would be to add support for [ConTeXt](https://wiki.contextgarden.net/Main_Page) markup which is quite nice alternative for `LaTeX`?

I'm aware that there is one [extension](https://wiki.contextgarden.net/VSCode) available for `ConTeXt`, but wonder if it can of some help, although I'm more inclined to use `vim`/`SublimeText`?

[2021-11-10 10:12] gayanper opened #121 "Adding support for OpenAPI documents"
I'm looking into how I can reuse this tool to validate OpenAPI document's descriptions, summaries, and titles etc. I would like to know if there is a extension point which I can provide the regions of the document that I would like to inspect for grammer and spellings. So for OpenAPI document I can provide those regions based on the OpenAPI grammer.

[2021-11-10 10:31] valentjn commented on #121
I see at least two possibilities:

* You can either extract the text snippets outside of LT<sub>E</sub>X and feed them individually to LT<sub>E</sub>X to check them. How to do that exactly (via language server, via CLI, via calling from Kotlin/Java, etc.) highly depends on your use case. Alternatively, if you don't have markup in the snippets, you can also use LanguageTool directly.
* Or you can a

[2021-11-13 21:47] bencmbrook opened #122 "Allow mapping custom extensions to language IDs"
**Is your feature request related to a problem? Please describe.**

I'm trying to use LTeX with [`.mdx`](https://mdxjs.com/) files, which are almost entirely Markdown.

**Describe the solution you'd like**

While native support for MDX would be great (there are a few syntaxes that can throw the parser off, but pretty easy to ignore), it can also make sense to simply open a setting to map arbitrary

[2021-11-14 16:53] #121 closed, assigned to nobody

[2021-11-15 00:24] oblitum opened #123 "Strikethrough support in Markdown"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Write any strikethrough text, as in ~~strikethrough~~ (`~~strikethrough~~`).

**Expected behavior**
A clear and concise description of what you expected to happen.

Even though not present in the original Markdown and CommonMark, it's present in many well-known vari

[2021-11-15 00:30] oblitum commented on #123
I was just not sure to classify this as bug or feature-request.

[2021-11-16 08:46] valentjn commented on #123
Classifying as feature request as the docs don't say that GFM is supported.

[2021-11-16 09:44] valentjn commented on #122
The Language Server Protocol (LSP) has the concept of [language identifiers](https://microsoft.github.io/language-server-protocol/specification#textDocumentItem), which are used by language servers to determine the type of documents. File extensions shouldn't be used as they are not reliable, they may be missing, and there may be clashes.

LT<sub>E</sub>X only uses file extensions (i.e., the sourc

[2021-11-16 17:22] #123 closed, assigned to valentjn

[2021-11-18 04:20] bencmbrook commented on #122
Appreciate the thorough response and understand your reasoning. That global override can work well enough for my use case.

Thanks—closing this out.

[2021-11-18 04:20] #122 closed, assigned to nobody

[2021-11-18 12:06] kierun opened #124 "Does ltex-ls support neovim local dictionaries?"
`ltex-ls` correctly highlights some words as not spelled correctly. Sometimes, it is wrong and the word is correctly spelled such as a name for example. `Neovim` spell checker is fine since the weird word is in a spelling file…

`ltex-ls` has a system for [adding multiple spelling errors at the same time](https://valentjn.github.io/ltex/faq.html#how-can-i-fix-multiple-spelling-errors-at-the-same-t

[2021-11-18 12:33] valentjn commented on #124
LT<sub>E</sub>X LS is a language server and utilizes the language client for things like configuration, accessing files, etc. The dictionary is requested from the language client by LT<sub>E</sub>X LS via [`ltex/workspaceSpecificConfiguration`](https://valentjn.github.io/ltex/ltex-ls/server-usage.html#ltexworkspacespecificconfiguration-), if supported by the client (otherwise, the value of [`ltex.

[2021-11-18 12:38] kierun commented on #124
Yes, that would solve the problem. Do you, by any chance, have a `neovim` configuration for that? Apologies for asking, I am not that much an expert in lua new configurations…

[2021-11-18 17:18] valentjn commented on #124
Sorry, I don't use Neovim. I just tried, Neovim's spell-checking is not on by default. Use `:set nospell` to turn it off. If it's on for you by default, then it's probably enabled somewhere in your configuration.

Alternatively, it's possible to disable LT<sub>E</sub>X's spelling diagnostics, e.g., for American English by setting [`ltex.disabledRules`](https://valentjn.github.io/ltex/settings.html

[2021-11-18 19:07] David-Else commented on #124
Right now the only way to add words in Neovim is manually in the setup:

[code]
Hopefully this will be added in `grammar-guard.nvim`. This extension is out of date now as it was created before `ltex-ls` was added to https://github.com/neovim/nvim-lspconfig , but keep an eye on https://github.com/brymer-meneses/grammar-guard.nvim/issues/4 , there is talk of an update by next week :)

[2021-11-19 08:37] kierun commented on #124
@valentjn @David-Else Thank you. Much appreciated!

I will leave this open for now till `grammar-guard` is updated then close. Or should I close this now?

[2021-11-19 08:44] valentjn commented on #124
This is a downstream issue, so it should be tracked in the downstream repo.

[2021-11-19 08:44] #124 closed, assigned to nobody

[2021-11-28 16:16] #120 closed, assigned to valentjn

[2021-11-28 16:37] valentjn commented on #123
Fix released in 15.2.0.

[2021-11-28 16:38] valentjn commented on #120
Fix released in 15.2.0. The support is not as good as for L<sup>A</sup>T<sub>E</sub>X, but it should suffice for now.

[2021-11-30 09:50] kierun commented on #124
@David-Else I tried this:

[code]

But no luck as `ltex` still checks the spelling of English words.

[2021-11-30 09:58] valentjn commented on #124
@kierun Default language is `en-US`, not `en-GB`. Not sure if you set that somewhere else. Of course, the rule ID would also be different.

[2021-11-30 10:10] kierun commented on #124
I tried `disabledRules = { ['en-US'] = { US_SPELLING_RULE } },` and still get spelling.

![screenshot](https://user-images.githubusercontent.com/3079575/144027630-a28728ba-c7d4-4291-9c08-ed2d5669aed0.png)

Hum… I could not find (using the source and `grep`) a place where all the rules are defined. Could you kindly point me there?

[2021-11-30 10:42] valentjn commented on #124
@kierun `US_SPELLING_RULE` doesn't exist. The rules are defined by LanguageTool, [most of them can be found on their website](https://community.languagetool.org/rule/list?lang=en-US).

LT<sub>E</sub>X LS supplies in the diagnostics returned via LSP the rule ID and also a link to the LanguageTool website with more info. VS Code displays this information (in your case, the rule ID `MORFOLOGIK_RULE_E

[2021-11-30 11:25] kierun commented on #124
I am not using `coc.nvim`, just the basic `lsp` implementation. I tried a few things, still getting spelling. ☹ At this point, I do not think the problem is here at all.

@valentjn thank you so much for all your help above and beyond! It is much appreciated.

[2021-11-30 13:12] David-Else commented on #124
@kierun In Neovim it is automatically set to `['en-US']`, so you need to address that to turn things on and off if you stick to the default. Here is my complete setup:
[code]
You want to change the language for spell corrections? https://valentjn.github.io/ltex/settings.html#ltexlanguage? I imagine (not tried):
[code]
You want no spell corrections, only grammar? In US English? I really am no exper

[2021-11-30 13:48] kierun commented on #124
I tried your setup. Still no luck. It appears to have no effect. I tried some profanity and the `newwordtoinclude` yet they still show up.

[code]

![screenshot](https://user-images.githubusercontent.com/3079575/144058860-0a21e3c8-e75b-4372-a6a6-10c1d7a35a67.png)

[2021-11-30 14:01] David-Else commented on #124
Something weird is going on!
- check you have latest Neovim nightly (or 0.6 is out later today)
- check you have updated nvim-lspconfig
- try the exact version of ltex-ls I have:
[code]
I am using the one without Java and using my Rocky Linux 8.5 installed version.

last resort, you can look at my dotfiles (for 0.51, 0.6 ready to go later today :): https://github.com/David-Else/developer-workstati

[2021-11-30 14:21] kierun commented on #124
Yes, something is weird. Just did a `:PackerUpdate` and here are versions:

[code]

[My nvim dotfiles](https://github.com/kierun/dotfiles/tree/main/nvim), minus your configuration, if that helps…

I shall wait till 0.6 is out and update at that point.

@David-Else Thank you so much for taking the time to help. Much appreciated.

[2021-11-30 14:45] David-Else commented on #124
@kierun  Probably best to just wait until 0.6, then everyone will be on the exact same version and it will be easier to get support from the Neovim collective :)

[2021-12-01 09:23] kierun commented on #124
I updated to nvim 0.6.0, updated all things with Packer, and got the latest version of ltex. So far, no hitch so far with my general setup. However, I am still getting the same thing as above.  ☹

Might it be better to move to the [nvim boards](https://neovim.discourse.group)?

[2021-12-01 11:15] David-Else commented on #124
I have just updated my entire Neovim setup for 0.6: https://github.com/David-Else/developer-workstation-setup-script/tree/main/dotfiles/neovim/.config/nvim . I am using it right now, it works!

Afraid I don't have time to register on Matrix and go on the nvim boards, but I bet someone there could help you. You also might get some help on [this thread](https://github.com/neovim/nvim-lspconfig/pull/

[2021-12-01 11:17] kierun commented on #124
:100: No worries whatsoever. You already went above and beyond to help me. :+1: It is much appreciated.

[2021-12-01 11:26] kierun commented on #124
https://neovim.discourse.group/t/ltex-ls-and-spelling-woes/1589

Just in case someone stumble to this…

[2021-12-02 02:31] doubleloop commented on #124
neovim 0.6 here

latex-ls logs when using `ltex.dictionary = {"en-us":["wtf"]}` (should not report `wtf` as misspelled)
[code]

latex-ls logs when using `ltex.disabledRules = {"en-us":["MORFOLOGIK_RULE_EN_US"]}` (should not report anything as misspelled).
[code]

[2021-12-02 02:52] doubleloop commented on #124
Tried to use [External Setting Files](https://valentjn.github.io/ltex/vscode-ltex/setting-scopes-files.html#external-setting-files) for dictionary but it does not seem to work:
`dictionary = { ['en-US'] = { 'wtf', ':/home/doubleloop/tmp/tex/test.txt' } }`

[code]

ltex-ls logs:

[code]

external file does not work (`mispeled` error should be ignored). If this would work, one could use:
[code]

[2021-12-02 05:46] valentjn commented on #124
Everyone, please use separate issues for separate problems. And please use the correct places. Issues that are not related to LT<sub>E</sub>X LS should not be discussed here.

@doubleloop The docs you link are in the vscode-ltex/coc-ltex section. This is the repo of ltex-ls. External setting files are not supported by ltex-ls.

[2021-12-07 13:51] nightuser opened #130 "LaTeX parser incorrectly recognizes names with diactrics"
**Describe the bug**
If a name have several diactrics, only the part of it is recognized as a word.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Have a name Žák in the text, written as `{\v Z}{\'a}k`.
2. ltex parses it as “ák” and produces the error “'ák': Possible spelling mistake found.”

**Expected behavior**
It should be recognized correctly.

**LTeX configuration**
Default.

*

[2021-12-08 00:16] jonathanjameswatson opened #131 "Dense pandoc-style TeX is not parsed"
**Describe the bug**
Release 9.2.0 added support for Pandoc-style display math blocks.

Pandoc-style single-line display math blocks will not be parsed by LTeX, despite them being allowed in https://pandoc.org/MANUAL.html#math.

Even if LTex won't implement single-line display math block parsing, multi-line display math blocks that occurs after (an odd number of) single-line display math blocks sh

[2021-12-08 10:03] valentjn commented on #131
LT<sub>E</sub>X is not Pandoc, nor it is claiming to support all Pandoc extensions. Converting to feature request.

[2021-12-08 10:05] vigoux opened #132 "Add gitcommit files support"
Hi and thanks for this awesome tool and your work ! This is a really handy tool !

**Is your feature request related to a problem? Please describe.**

When I edit my commit message, I like to have the things I write grammar-checked, and I'd like to use ltex-ls for that.

**Describe the solution you'd like**

There is actually two solutions:
1. Add a gitcommit filetype, that ignores comments in the

[2021-12-08 10:08] valentjn commented on #130
It works when using `\v{Z}\'{a}k`, or when using Unicode (LuaL<sup>A</sup>T<sub>E</sub>X).

I'll have to see whether this will be fixed. Formally, `{ ... }` is opening a new group, which could contain anything, really (not just a single letter), and it's pretty plain-T<sub>E</sub>X-ish.

[2021-12-08 10:12] valentjn commented on #132
Thanks for the suggestion. Regarding the suggested solutions:
1. Which language ID(s) should this be mapped to (depends on your editor/language client)? VS Code apparently uses `git-commit`.
2. I doubt that a regex would be really useful for the general case. Most languages cannot be expressed with a mere regex.

[2021-12-08 10:16] vigoux commented on #132
In neovim (which I use), we use gitcommit but I guess this is fine.

Indeed you can't represent languages using simple regexes, but with a combination of those, one can have basic things working (say spellcheck comments and so on).

[2021-12-10 16:40] jsamr opened #133 "Is there any rationale preventing from implementing an editor-agnostic config file feature?"
That is, the possibility to configure LTEX with a simple JSON or YML file.

Could be implemented with the help of https://github.com/davidtheclark/cosmiconfig

Would be very convenient for open source projects :-)

[2021-12-10 16:46] valentjn commented on #133
Did you read the [docs of LT<sub>E</sub>X CLI](https://valentjn.github.io/ltex/ltex-ls/cli-usage.html), in particular the option `--client-configuration`?

[2021-12-10 16:54] jsamr commented on #133
I didn't catch this one, but you have to explicitly interact with the language server to enable this behavior. Is there any way to use a `.ltexrc.json` file at the root of a workspace and have the editor extension pass it on to the server? I haven't seen such cases documented (at least for the VSCode client). The motivations for such feature:

1. Editor-independent
2. Avoid committing local, conte

[2021-12-11 07:51] valentjn commented on #133
Ah, I see. No, there is no such way.

The reason is that the Language Server Protocol (LSP) puts the responsibility for the configuration to the language client. Servers should request and fetch the config from the client via [`workspace/configuration`](https://microsoft.github.io/language-server-protocol/specification#workspace_configuration). LT<sub>E</sub>X LS wants to adhere to the philosophy

[2021-12-11 12:47] jsamr commented on #133
Thank you for laying out those explanations! I will just add a few comments, with my limited understanding of the problem space:

That's a fair point. It can be mitigated though by ignoring the editor settings when a config file is detected. A config file would imply this specific set of options is required for this workspace to maximize the chances of a reproducible execution of the program. Opti

[2021-12-12 09:18] #132 closed, assigned to valentjn

[2021-12-12 09:21] valentjn commented on #132
This is implemented now.

While LT<sub>E</sub>X LS will support both `git-commit` and `gitcommit` (in the sense that it will parse documents as Git commits when provided with one of these two LSP language IDs), the default value of [`ltex.enabled`](https://valentjn.github.io/ltex/settings.html#ltexenabled) will only contain `git-commit`. The reason is that [the LSP spec recommends `git-commit`](ht

[2021-12-12 10:30] valentjn commented on #133
Sorry, I didn't read [your previous comment](https://github.com/valentjn/ltex-ls/issues/133#issuecomment-991133743) properly. You want the client to read configuration files and pass them on to the server. Yeah, that would be LSP-compliant. I guess I was confused because you opened this issue in the repo of ltex-ls, which is the server part and which doesn't know anything about editor extensions.

[2021-12-12 10:34] #133 closed, assigned to nobody

[2021-12-12 17:26] #131 closed, assigned to valentjn

[2021-12-12 17:28] valentjn commented on #131
It's quite complicated. LT<sub>E</sub>X LS uses flexmark-java, which requires that all block nodes (such as source code with `` ``` `` delimiters, or the custom display math blocks with `$$` delimiters) are on their own lines. This means that

[code]

should not have been parsed as display math by LT<sub>E</sub>X LS, as the `$$` are not on their own lines. However, due to a bug, LT<sub>E</sub>X LS

[2021-12-12 18:36] #130 closed, assigned to valentjn

[2021-12-13 20:53] mjlbach commented on #132
I don't think we have any issues with this? We just add the custom mapping per server in the lspconfig plugin. I can add it for git-commit no problem.

[2021-12-13 21:07] valentjn commented on #132
@mjlbach That's what I meant with ”if the filetype is mapped to `git-commit`.“ Not sure if possible, but Neovim should use the LSP language IDs listed in the LSP spec by default for all servers, without having to add the relevant ones to a mapping for each server.

[2021-12-16 08:50] cl0rm opened #134 "siunitx issues"
when using siunitx, the parser does somehow not work:

an example to reproduce this is the following German sentence

[code]
the second \SI generates issues (COMMA_PARENTHESIS_WHITESPACE)

[2021-12-18 09:08] #134 closed, assigned to valentjn

[2022-01-01 22:46] rdiaz02 opened #136 "generic language code "es" gives spelling corrections"
**Describe the bug**
According to https://valentjn.github.io/ltex/settings.html#ltexlanguage

"Use a specific variant like "en-US" or "de-DE" instead of the generic language code like "en" or "de" to obtain spelling corrections (in addition to grammar corrections)."

This does not seem to apply to Spanish: the generic "es" (there is also a specific variant "es-AR") gives spelling corrections.

**S

[2022-01-02 02:01] rdiaz02 commented on #136
I think the above is, if I am understanding the documentation correctly, a bug. However, it is simple to have LTeX ignore those rules, as explained in the documentation. For anyone stumbling on this, the following would do (no spell checks for Spanish or US English):

[code]

(For the sake of completeness: if you are using Emacs' lsp-ltex, https://github.com/emacs-languagetool/lsp-ltex, you can do

[2022-01-04 10:25] folliehiyuki opened #140 "Docker image"
**Describe the problems you are having**
I just want to avoid Java tool chain in my system, since I don't know anything about Java. Yes it sounds really stupid :)

**Describe the solution you'd like**
It would be nice to have a Docker image alongside the release. Some linting tools (which are hard to build from source) support this alternative method like [hadolint](https://github.com/hadolint/had

[2022-01-05 19:01] mjlbach opened #141 "Ignore commented lines for `gitcommit` filetype"
**Is your feature request related to a problem? Please describe.**

I love ltex-ls, especially when writing git commit messages as it picks up on grammatical mistakes when spell checking that simple spellchecking would miss.

Right now, it appears the server sends diagnostics for the commented lines pre-populated in the commit messages template:
![image](https://user-images.githubusercontent.com/1

[2022-01-15 07:04] tiagovla opened #143 "Ltex crashing after using math delimiters $$"
**Describe the bug**
In portuguese, after the first use of the math delimiters `$$`, Ltex stops working (both ltex-ls and ltex-cli).

**Steps to reproduce**

1. Open sample document
2. Add/Remove `$$`

**Expected behavior**
It should work normally like it does when the line ``\usepackage[brazilian]{babel}`` is removed.

**Sample document**
[code]

</details>

**LTeX configuration**
Default lspconf

[2022-01-31 17:21] marioortizmanero opened #148 "Asciidoctor support"
It would be awesome to have support for [asciidoctor](https://asciidoctor.org/) as a format, the same way as we already have it for markdown or org mode. It's somewhat similar to org in the sense that it's richer than markdown, but not as complex as latex.

[2022-02-07 12:43] marioortizmanero commented on #148
Note that this could perhaps use [asciidoctorj](https://github.com/asciidoctor/asciidoctorj) to parse the contents? AFAIK it can be used to [read the document tree](https://docs.asciidoctor.org/asciidoctorj/latest/read-document-tree/). I haven't tried it, but I'm sure that it's better than reinventing the wheel.

[2022-02-09 11:41] B4rc1 opened #149 "Markdown Language Detection by using the frontmatter"
**Is your feature request related to a problem? Please describe.**
I find myself writing a lot of documents in german and in english.
Having to "hardcode" the language into my lsp (or getting no spell correction) means I have to edit my config everytime I switch languages.

**Describe the solution you'd like**
I would love a new option in `ltex.language` something like `frontmatter` which parses t

[2022-02-11 14:34] cionx opened #150 "How to configure hiddenFalsePositives"
I’m using the LTeX Language Server via `ltex-cli` (to test configurations) and neovim (for larger projects), but don’t understand how `ltex.hiddenFalsePositives` can be configured. As a specific example, I’m trying to hide the rule `CAPITALIZATION_NNP_DERIVED` for all instances of the word `abelian`.
The [documentation][docu] and a [discussion][discus] over at `vscode-ltex` make me believe that th

[2022-02-16 15:57] GuillaumeAllain opened #156 "Problem in detection of lang: in yaml front matter"
**Describe the bug**
In the case where `lang: language` where language is not in quotes, the yaml parsers seems to take on all following options as a language: `'language\nfollowingtitle: option\n'`

**Steps to reproduce**
Steps to reproduce the behavior:

1. Create document with some options after `lang: language` in yaml front matter. The language shouldn't be encased in quotes
2. ltex can't ini

[2022-02-16 20:28] GuillaumeAllain commented on #156
The problem seems to be coming from regex which doesn't match new line in the case where there is no quotes:
https://github.com/valentjn/ltex-ls/blob/13af12b01f4c08d5d08a90780ff20eb7284b1b2c/src/main/kotlin/org/bsplines/ltexls/parsing/markdown/MarkdownFragmentizer.kt#L55

The regex:
```"\\A---[ \t]*$.*?^lang:[ \t]+(?:\"(.+)\"|'(.+)'|(.+))$.*?^---[ \t]*$"```

Should be replaced by:
```"\\A---[ \t]*

[2022-02-23 14:21] cinghiopinghio opened #157 "Ltex do not pick a file as dictionary"
**Describe the bug**
When defining `dictionary.en-US = ":path/to/file"`, the words in the text file are not added to the word list.

**Steps to reproduce**

test config `test.json`:
[code]

test dictionary `test.txt`:
[code]
run the code:
[code]

I get the output:
[code]

**Expected behavior**
One would expect that the words listed in `test.txt` are not found as errors.

**LTeX configuration**
see

[2022-02-23 15:13] valentjn commented on #157
External files are not supported by ltex-ls, only by vscode-ltex/coc-ltex ([&ldquo;Setting Scopes & Files&rdquo;](https://valentjn.github.io/ltex/vscode-ltex/setting-scopes-files.html) is under &ldquo;vscode-ltex / coc-ltex&rdquo;, not &ldquo;LT<sub>E</sub>X LS&rdquo;).

[2022-02-23 15:13] #157 closed, assigned to nobody

[2022-02-23 15:18] valentjn commented on #140
This is a great suggestion.

The build instructions are here: https://valentjn.github.io/ltex/ltex-ls/contributing.html#how-to-set-up-the-project

Could your paste your Dockerfile here? I'm quite new to Docker, but I'm learning it for my job anyway, so this should be a good opportunity.

[2022-02-23 15:21] valentjn commented on #148
This is already tracked for vscode-ltex in valentjn/ltex-ls#220, closing this in favor of that issue.

[2022-02-23 15:21] #148 closed, assigned to nobody

[2022-02-23 15:22] valentjn commented on #148
Duplicate of valentjn/ltex-ls#220

[2022-02-23 15:22] cinghiopinghio commented on #157
Thanks for the quick reply.

Indeed you are right. I get confused by the fact that this configuration appears also in [the global configuration](https://valentjn.github.io/ltex/settings.html#ltexdictionary).
There is no mention to the fact that it may not work in `ltex-ls`.

[2022-02-23 15:24] valentjn commented on #157
There is a striped bar to the left of the text&mdash;when you hover it, it says that it's client-specific.

I guess it's a good idea to state this more prominently somewhere at the top.

[2022-02-23 15:30] cinghiopinghio commented on #157
I see, thanks anyway.

[2022-02-23 15:51] marioortizmanero commented on #148
Sure, but it should work for `ltex-ls` itself, not just vscode (I use nvim with ltex-ls)

[2022-02-23 18:01] folliehiyuki commented on #140
Here is my Dockerfile (quite simple). It works pretty well in my Neovim setup. I launch the server in a wrapper script like this `podman run --rm -i localhost/ltex-ls "$@"`.
[code]

I will try messing with java in the next few days, and maybe can come up with a PR :) but note that I'm not really advanced with container (I mostly build local images for personal usage and have never used public regi

[2022-02-25 05:23] gzagatti opened #158 "Homebrew formula"
**Is your feature request related to a problem? Please describe.**
It's convenient to install the server using Homebrew. This not related to any problem.

**Describe the solution you'd like**
To have a Homebrew formula to make it easy to install `ltex-ls`.

**Describe alternatives you've considered**
I have made a pull request to Homebrew to have `ltex-ls` added to their core tap, you can find the

[2022-03-02 10:12] hchmr opened #159 "Make ltex.latex.commands more expressive"
**Is your feature request related to a problem? Please describe.**
TeX has weird hyphenation rules that prevents it from breaking hyphenated compound words such as 'high-performance'. The `hyphenat` package is used to trick TeX into hyphenating the constituent words in a hyphenated compound word. In my LaTeX document, I can write `high\hyp{}performance` and TeX will be able to hyphenate 'per·for·m

[2022-03-05 13:07] fwc opened #160 "linebreak before full stop causes StringIndexOutOfBoundsException using cli"
When checking a document with the `ltex-cli` that contains a full stop right after a line break, the following exception is thrown:

[code]

This error occurs with release `15.2.0` and with `15.2.1-alpha.1.nightly.2022-03-05` while using no configuration and the jdk11 from the release tarball.

[2022-04-01 22:12] acarril opened #161 "Environment option keywords inside square brackets are not ignored (LaTeX)"
**Describe the bug**
Environments with options in square brackets (e.g. `\begin{frame}[noframenumbering]`) are spell checked, but I think any options inside the brackets (i.e. `noframenumbering`) should be ignored. There doesn't seem to be a way to ignore the command using `ltex.latex.commands` or `ltex.latex.environments`.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Create a `fra

[2022-04-04 08:37] jonas-tzhang opened #165 "ltex-ls always fails the test when initiation"
Hi! I have tried online installation and offline installation but both failed. The output is as follows,

2022-04-04T08:28:16.349Z Info: Setting LTeX UI language to 'zh-cn'.
2022-04-04T08:28:16.349Z Info: Loading i18n messages...
2022-04-04T08:28:16.350Z Info: Loading default i18n messages...
2022-04-04T08:28:16.352Z Info:
2022-04-04T08:28:16.352Z Info: ltex.ltex-ls.path not set.
2022-04-04T08:28:

[2022-04-04 11:50] valentjn commented on #165
Duplicate of valentjn/vscode-ltex#185 with [the solution here](https://github.com/valentjn/vscode-ltex/discussions/185#discussioncomment-180321).

[2022-04-04 11:51] #165 closed, assigned to nobody

[2022-04-04 12:46] jonas-tzhang commented on #165
Thanks for your reply, problem solved!

[2022-04-29 09:59] gzagatti commented on #158
Just to let you know that `ltex-ls` is now installable via Homebrew. Perhaps it would be useful to add to the [documentation page](https://valentjn.github.io/ltex/ltex-ls/installation.html). Let me know if you would like some help with that.

[2022-05-03 19:36] folliehiyuki commented on #140
Sorry for the late response. It's just a draft right now, but I've come up with this Dockerfile:
[code]
Build: `docker build -f Dockerfile -t ltex-ls .`
Launch with wrapper script: `docker run --rm -i localhost/ltex-ls "$@"`

Some brief testing (with org, markdown, latex):
- Completion not working
- For some reason linting org files also doesn't work (the server does launch)

Some improvements I c

[2022-05-30 16:09] KatzeCode opened #166 "Spellchecking in spanish"
Hi, I'm using Neovim, I have the ltex-ls server installed with LspInstall, but when I activate it, it gives alarms for every single word I type in my LaTeX document (I'm writing in spanish), and I wasn't able to find a way to change this language spellcheck in the init.lua file. I'd appreciate if someone has the answer to this, bc all my documents are written in spanish, so I get many alarms of th

[2022-06-04 18:58] saulaxel commented on #166
I set the language in the setup, but I still have problems with some weird errors in formulas.
This is what the setting looks like:
[code]

[2022-06-04 20:56] saulaxel opened #167 "Spurious spelling errors in Spanish formulas"
When setting the languages to Spanish "es", math formulas start showing some spelling mistakes similar to "dumm", "dummy1" or "ina4".

This is the English document, which produces no errors when using `ltex-cli en.tex`
[code]

The Spanish version is almost the same:
[code]

When executing with:

    echo '{"ltex.language":"es"}' > config; ltex-cli --client-configuration=config --verbose es.tex

It

[2022-06-15 11:27] ned-si opened #168 "Code actions not working in neovim"
**Describe the bug**
In neovim, code actions work when choosing one of the "correction" option, but not when choosing one of the following:
- `Add <word> to dictionary`
- `Hide false positives`
- `Disable rule`

**Steps to reproduce**
Steps to reproduce the behavior:

1. Create a markdown file with the following line `CustomWord is not a word`
2. `CustomWord` is rightly marked as not a correct wor

[2022-06-19 10:56] David-Else commented on #168
At this point code actions need to be added into Neovim it seems: https://github.com/neovim/nvim-lspconfig/pull/863 , I don't know if that can be addressed by `ltex-ls` or not?

[grammar-guard.nvim](https://github.com/brymer-meneses/grammar-guard.nvim)  seems dead, it would be great if someone could continue the work and merge some functionality into https://github.com/neovim/nvim-lspconfig

[2022-06-19 11:04] David-Else opened #169 "Is ltex-ls still going to be maintained in the future, and is everything OK Julian?"
I see you have not been on Github for nearly half a year, hope all is well with you :)

I use `ltex-ls` everyday, your work is very much appreciated.

[2022-06-20 09:27] valentjn commented on #169
Thanks, but no need to be concerned. I changed my job/company half a year ago, and I like my new position very much. Of course, while that's a good thing for me, this also means I have less time for other things. And the new position is also more programming-focused than the old one, so I don't feel the need to program as often in my spare time as previously.

I'll try spending more time on LT<sub

[2022-06-21 12:35] har7an commented on #140
Hi, I'd like to add to this discussion. Personally I use podman instead of docker, and here's a shell script that can build a container using `buildah`:

[code]

You build the container with:

[code]

Then you need a small wrapper around it, like so:

[code]

It assumes that you have the `ltex` archive for version 15.2 (as `.tar.gz`) in the same directory as the script. Unfortunately the container

[2022-06-21 15:02] folliehiyuki commented on #140
Thanks for the feedback @har7an. Sadly what I want to achieve from this request is a Dockerfile with build instruction from source (to make a reproducible build) and not a container image for the sake of having one.

I already got a working container image with the Github release. See comment https://github.com/valentjn/ltex-ls/issues/140#issuecomment-1049058764.

[2022-06-22 19:49] ned-si commented on #168
Thanks for the feedback. I tried to follow the different threads but must say that I'm not sure I understand the state of everything atm.

Good point. As it seems that the code actions making a change in the document itself work, but not the ones that try to make a change in the config file, could it be related to the fact that `ltex-ls` doesn't seem to be able to dynamically update a local dictio

[2022-06-22 20:34] David-Else commented on #168
I use this workaround, you can add words to your normal Neovim spelling directory and ltex-ls will use them. Not perfect, but works!
[code]

[2022-06-24 22:31] SethFalco commented on #169
I wish I'd searched online sooner, I already dug out your email to try to contact you. ^-^'
After reading up on Adam Voss, I got wary after seeing your GitHub activity literally drop to 0. :facepalm:

---

Really appreciate the work you put into the projects here!

In future, if I get more into notable contributions, just wanted to say that I'd happy to spare some time to learn more about the proj

[2022-06-29 05:29] barreiroleo opened #171 "Plugin for code actions in neovim (native lsp)"
Hello there!
I've made a plugin to support code actions (and some extras) in neovim with native LSP.

Handle dictionaries, false positives, and hidden rules in external files like the vscode-ltex plugin. The files are compatible between these plugins (same naming and content).

In the repository I drop some demos: [barreiroleo/ltex_extra.nvim](https://github.com/barreiroleo/ltex_extra.nvim). Bette

[2022-06-30 09:39] ned-si commented on #168
Well actually it's a pretty nice way of using built-in neovim capabilities, thanks!

Hopefully the other code actions will be available soon. Should I already close the issue then?

[2022-07-12 13:03] SpookyYomo opened #177 "LTeX Spell Check does not function"
**Describe the Bug**
Automatic spell-check does not occur, invoking manual spell check (`Ctrl + Shift + P` > `LTeX:Check Current Document` > `'Could not check document ....': 'Internal Error.'`)

**Steps to Reproduce**
1. Create a new tex file, type in a functional tex file with intentional mistake, such as
[code]
2. Either Ctrl + S to automatically trigger spell check, or invoke manually as descr

[2022-07-14 16:42] tunakasif commented on #168
Based on the work-around @David-Else provided in the [comment](https://github.com/valentjn/ltex-ls/issues/168#issuecomment-1163574571) above, I added a local dictionary capability. The [VS Code extension version](https://github.com/valentjn/vscode-ltex) creates `ltex.dictionary.en-US.txt` file under `.vscode/` directory and adds the word to this text file, by default, when *add-to-dictionary* opti

[2022-07-25 21:38] 00sapo commented on #168
See #171

[2022-08-01 11:00] sfo commented on #143
Removing the `babel` package will cause the language detection to default to English. In this case, you get the message `info: 'Teset': Possible spelling mistake found. [MORFOLOGIK_RULE_EN_US]`.
Adding the `babel` package sets the language accordingly, causing the document to contain no spelling mistakes.
Removing the math expression triggers an orthographic error (`info: 'Teset': Encontrado possí

[2022-08-05 19:39] eyalk11 opened #179 "java versions mismatch"
**Describe the bug**
ltex crashes on loading .
[code]
I tried installing java se 11 (development) , but apparently needed to do something else.
You should know.

**Version information**
      version     15.2.0

Windows
C:\Users\ekarni>java -version
java version "11.0.16" 2022-07-19 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.16+11-LTS-199)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11

[2022-08-05 20:29] valentjn commented on #179
Java class file version 52 is Java 8. You have Java 8 installed somewhere.

[2022-08-07 01:19] eyalk11 commented on #179
Yes. I needed to define JAVA_HOME variable.
Surprising that it doesn't work ootb , as by default (path) it is redirected to java 11.
Also, you said that java comes with it.

I guess it is worth mentioning in the home page, as might happen to more.

[2022-08-11 09:46] RegisGourdel opened #180 "Quarto compatibility"
Hi, first thanks a lot for your work on this extension, it is the one thing that allows my VS code to still be more competitive than other solutions for LaTeX.

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Quarto documents have a specific file extension, *qmd*, meaning that it's not natively treated by LTEX at the moment. But the comp

[2022-08-13 17:05] folliehiyuki commented on #140
@valentjn I checked the CI configuration and realized that I forgot to generate the completion lists. This is my new Dockerfile, which seems to work fine for Markdown and LaTEX files (I still can't get things to work in Org file).
[code]

Build: `podman build -f Dockerfile -t ltex-ls .`
Run using a wrapper script:
[code]

The container image is built from the Github release. I can send a PR gettin

[2022-08-19 23:32] jonggyup opened #182 "ltex with vim, Can I add some words to the dictionary inside vim"
I am using ltex with vim now.

But some words are not in the dictionary but are not wrong.

LTex keeps showing that those words are wrong, and that's annoying.

Can I add such words into the dictionary while I am using vim?

We can do similar things by clicking a with set spell, I guess.
But idk how to do with ltex.

Thank you

[2022-08-27 12:34] bgaillard opened #184 "How to ignore checks for a specific line"
Hi, sorry if my question is perhaps obvious but I did not found any response searching this repository and the documentation.

I'm starting using `ltex-ls` with Neovim and found that in some cases I need to ask `ltex-ls` to ignore some check for a specific line.

For example I would like to ignore the errors on those 2 lines (but I still want spell checking for other `\frametitle` and `\framesubti

[2022-09-05 06:41] weakish commented on #168
Based on David-Else's work around, I added the following configuration to LunarVim and it works.

[code]

I use the environment variable `LUNARVIM_CONFIG_DIR` instead of `vim.fn.stdpath 'config'`,
since the latter returns `~/.config/nvim` instead of `~/.config/lvim` under LunarVim.

[2022-09-05 15:45] languitar opened #185 "asciidoc support"
Asciidoc is another option for a lightweight markup language that somehow sits in between restructured text and markdown. Having support for asciidoc in ltex would be a nice addition as asciidoc is often used for longer texts that would benefit from good language checking.

[2022-09-05 22:19] anoduck opened #186 "Building from source for operating systems that are not mainstream linux."
**Is your feature request related to a problem? Please describe.**
I was unable to discover information on compiling this lsp from source. I run OpenBSD, therefore prebuilt binaries for Linux will not run on my system.

**Describe the solution you'd like**
Either direct me please to where I can find information on compiling the lsp from source, or provide information describing building from sourc

[2022-09-07 13:09] sondalex commented on #180
Hi, I have proposed a feature a draft PR few months ago  #172 . I put this message here for anyone who would like to build on this draft and eventually enable [flexmark-java extension] (https://github.com/vsch/flexmark-java)  in order to take care of pandoc's markdown special cases.

[2022-09-15 18:10] Antomek opened #187 "Unable to locate a Java Runtime error"
First off, many thanks for your work on this wonderful LSP!
I was using it very happily, but recently it stopped working for me.

**Issue: ltex crashes upon starting**

Immediately when opening a file that should trigger `ltex`, e.g. .tex, the server crashes.

This is the log output:
[code]

**Steps to reproduce**

The error is due to me not having a Java installation:
[code]

However, this is sli

[2022-10-04 12:37] LDAP commented on #187
There are platform independent releases (without Java) and platform depended releases that come with Java.

Without knowing what the neovim plugin really does I suspect it just installs the platform independent release. I recommend checking out the plugin repo and open an issue there.

[2022-11-10 15:36] HawkinsT opened #199 "Picky rules not flagged if spelling error in sentence, even if spell checking is disabled"
**Describe the bug**
Over 40 words sentence warning doesn't trigger when the sentence contains a word that languagetool considers to be a spelling error, even when spell checking is disabled or I specify an additional dictionary file in the ltex lsp config where the spelling is valid (so the spelling error doesn't get flagged).

**Steps to reproduce**
Steps to reproduce the behaviour:

Set `additi

[2022-11-11 13:11] mattamizer commented on #187
Out of curiosity are you on the ARM_64 Mac? I have the same issue on mine where running the exact same config with the exact same installation method on my Intel Mac works 100% fine.
EDIT: Additionally installing Java using `skdman` doesn't fix the issue. Whatever is going on having Java installed doesn't seem to fix the issue.

[2022-11-15 13:49] mattamizer commented on #187
As of this comment `ltex-ls` is working as expected for me. This can probably be closed?

[2022-11-16 11:07] David-Else commented on #169
@valentjn I hope your job is still going well. It will be a year soon since any update to `ltex-ls`... is there any chance of pushing a new version? Just having the new dependencies would be great, especially `languagetool` from 5.5 to 5.9 :)

[2022-11-17 18:09] Kenneth-Mata opened #200 "Symbol picking doesn't work under Helix (and maybe others) client"
**Describe the bug**
When using with [Helix](https://github.com/helix-editor/helix) text editor and trying to use the Symbol picker, it shows nothing

**Steps to reproduce**
Steps to reproduce the behavior:

1. Open any .md file using Helix
2. input Space + s to open the Symbol Picker
3. Is empty

**Expected behavior**
The symbol picker shows the headings as symbols

**LTeX configuration**
Please

[2022-11-17 22:31] dpo commented on #187
@mattamizer Were you able to fix the issue? Could you please explain how?

The OP states that (s)he's on a M1 Mac, so yes, it's an Arm64 processor. I'm having the same problem (ltex-ls also installed from Mason for Neovim).

Thanks.

[2022-11-17 22:45] mattamizer commented on #187
Sure! The way I solved this on my M1 was the following.

1. Uninstall/remove `ltex-ls` using `:LspUninstall` and remove any config from `init.lua`
2. Install Java using `sdk`. I installed a few different versions based on projects I need to work on but I think the default is `17.0.1-open` for me
3. Reinstall `ltex-ls` using `:LspInstall`
4. Add relevant configuration back to `init.lua`

I don't kn

[2022-11-17 23:07] dpo commented on #187
Thanks! I followed those steps, except I installed the java runtime with `brew install openjdk` and put it on the `PATH`.
Running `ltex-ls --help` gives
[code]
So it seems to first fail ... and then work?!

Regardless, Neovim doesn't want it and complains that
[code]

[2022-11-18 13:09] mattamizer commented on #187
That's certainly interesting behavior. I'm not really sure what to make of that.

[2022-11-18 17:17] sanmai-NL commented on #140
@FollieHiyuki: Please do! Being able to reuse this container image saves a lot of electricity and time for all those using dev containers with `ltex-ls`.

[2022-11-24 18:22] lxp opened #202 "Vulnerable dependency commons-text-1.9.jar (CVE-2022-42889)"
**Describe the bug**
ltex-ls 15.2.0 and in turn also vscode-ltex 13.1.0 ships with the vulnerable dependency `commons-text-1.9.jar`.
It is affected by [CVE-2022-42889](https://nvd.nist.gov/vuln/detail/CVE-2022-42889), which allows RCE.

**Steps to reproduce**

1. Install ltex-ls
2. See that `lib/commons-text-1.9.jar` is present

**Expected behavior**
`commons-text-1.10.0.jar` should be shipped ins

[2022-11-24 21:22] valentjn commented on #202
Regarding security vulnerabilities, you must follow the process given in `SECURITY.md`, which someone already did before, about the same vulnerability.

[As LanguageTool is not affected by CVE-2022-42889](https://github.com/languagetool-org/languagetool/issues/7370#issuecomment-1296789172), this is not a security vulnerability of LT<sub>E</sub>X LS in the sense of the definition in `SECURITY.md`,

[2022-11-24 22:05] lxp commented on #202
I have read `SECURITY.md`, however CVE-2022-42889 is already public since more than a month and I figured that more people will have exactly the same question.

Thank you for your quick response and sharing these insights. Sadly, I missed to check the LanguageTool repository, since I thought the 6.0.x versions are already stable releases.

I am not sure, if you want to close the issue as LTEX LS i

[2022-11-25 06:32] valentjn commented on #202
I would say if LT<sub>E</sub>X LS were affected by a security vulnerability in a dependency, then this would constitute a new security vulnerability to be treated on its own. The definition of security vulnerabilities linked by `SECURITY.md` also does not mandate that vulnerabilities caused by a dependency must not have been disclosed before.

Closing as not-a-bug as LT<sub>E</sub>X LS is not affe

[2022-11-25 06:32] #202 closed, assigned to nobody

[2022-11-25 13:45] paperbenni commented on #182
There is a code action to add words to the dictionary. For some reason it doesn't work tough

[2022-11-26 06:25] coffebar commented on #182
Is it will be fixed? I can help with testing

[2022-11-26 11:03] paperbenni commented on #182
Someone made a plugin to fix this [#171](https://github.com/valentjn/ltex-ls/issues/171)
I really am not sure why this is needed though, I haven't looked into the lsp implementation of neovim but it shouldn't be too hard to tell the lsp which code action you chose, which in theory should be all that's needed for the lsp to do the dictionary actions itself. Maybe right now the editor needs to imple

[2022-11-26 15:02] coffebar commented on #182
May be this is a solution [vigoux/ltex-ls.nvim](https://github.com/vigoux/ltex-ls.nvim)
So this is not a problem of ltex-ls. rather neovim/nvim-lspconfig

[2022-11-28 00:17] paperbenni commented on #182
From the looks of it [vigoux/ltex-ls.nvim](https://github.com/vigoux/ltex-ls.nvim) goes way beyond the scope of what lspconfig is supposed to do. From what I can tell by glancing over it this also implements some dictionary functionality that is for some reason not provided by either languagetool, ltex-ls or nvim-lsp

[2022-11-28 18:01] paperbenni commented on #182
seems like ltex-ls uses off spec commands
https://github.com/neovim/nvim-lspconfig/issues/1443#issuecomment-972863557
This would have to be implemented into the lsp client or the server has to stop using them. In my opinion diverging from the spec should be an absolute last resort as it kind of defeats the purpose of it being an lsp. Now maybe ltex-ls has good reasons for doing so as the lsp spec

[2022-11-29 11:00] epbuennig opened #204 "Bug: `NullPointerException` on show docs in helix"
**Description**
Using an editor code action in the [helix](https://github.com/helix-editor/helix/) editor causes an internal error on the LSP side.

EDIT: turns out I was using the wrong keybind for what I tried to do, code actions work fine. But trying to show docs should not throw an exception anyway.

**Steps to reproduce**

1. Open the sample dcoument
Execute `hx doc.tex`
3. Navigate to the wo